<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Lab13 - Эллиптические кривые</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul class="nav justify-content-center mt-4">
        <li class="nav-item">
            <a class="nav-link active" href="/points">Точки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/operations">Операции над точками</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cipher">Шифрование/расшифрование</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ds">ЭЦП</a>
        </li>
    </ul>
    <h5 class="text-center mt-4">Операции над точками на эллиптической кривой</h5>
    <h6 class="mt-4">Исходные данные: P = <%= P %>, Q = <%= Q %>, R = <%= R %>, k = <%= k %>, l = <%= l %></h6>
    <p>
        kР = <%= kP %>
    </p>
    <p>
        Р + Q = <%= pPlusQ %>
    </p>
    <p>
        kР + lQ – R = <%= kPPluslQMinusR %>
    </p>
    <p>
        Р – Q + R = <%= pMinusQPlusR %>
    </p>
</div>
</body>
</html>